<mat-toolbar color="primary" class="header">
  <span>Todo List by</span>
  <span class="header-link"> Bharadwaj</span>
</mat-toolbar>

<div class="container">
  <mat-card>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>New Task</mat-label>
      <input matInput placeholder="Enter task" [(ngModel)]="newTask" />
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addTask()">
      Add Task
    </button>
  </mat-card>

  <div class="task-container">
    <mat-card *ngFor="let task of tasks; let i = index">
      <mat-list-item>
        <mat-form-field appearance="outline" class="full-width" *ngIf="task.isEditing">
          <mat-label>Edit Task</mat-label>
          <input matInput [(ngModel)]="task.title" />
        </mat-form-field>

        <div *ngIf="!task.isEditing" class="task-title">
          {{ task.title }}
        </div>

        <div class="action-buttons">
          <button mat-icon-button color="primary" (click)="toggleEditTask(task)">
            <mat-icon *ngIf="!task.isEditing">edit</mat-icon>
            <mat-icon *ngIf="task.isEditing">done</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteTask(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-list-item>
    </mat-card>
  </div>
</div>

<footer class="footer">
  <span>Copyrights reserved by <a href="https://www.youtube.com/@code-with-Bharadwaj" target="_blank" class="footer-link">Bharadwaj</a></span>
</footer>
